@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75.625em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 54.375em) {
  html {
    overflow-x: hidden;
  }
}

body {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  box-sizing: border-box;
  position: relative;
}
@media only screen and (max-width: 54.375em) {
  body {
    overflow-x: hidden;
  }
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/source-sans-pro/SourceSansPro-Black.woff2") format("woff2"), url("../fonts/source-sans-pro/SourceSansPro-Black.woff") format("woff"), url("../fonts/source-sans-pro/SourceSansPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/source-sans-pro/SourceSansPro-Bold.woff2) format("woff2"), url(../fonts/source-sans-pro/SourceSansPro-Bold.woff) format("woff"), url(../fonts/source-sans-pro/SourceSansPro-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/source-sans-pro/SourceSansPro-Semibold.woff2) format("woff2"), url(../fonts/source-sans-pro/SourceSansPro-Semibold.woff) format("woff"), url(../fonts/source-sans-pro/SourceSansPro-Semibold.tff) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/source-sans-pro/SourceSansPro-Regular.woff2) format("woff2"), url(../fonts/source-sans-pro/SourceSansPro-Regular.woff) format("woff"), url(../fonts/source-sans-pro/SourceSansPro-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/source-sans-pro/SourceSansPro-Light.woff2) format("woff2"), url(../fonts/source-sans-pro/SourceSansPro-Light.woff) format(woff), url(../fonts/Merriweather/Merriweather-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather/Merriweather-Light.woff2) format("woff2"), url(../fonts/Merriweather/Merriweather-Light.woff) format("woff"), url(../fonts/Merriweather/Merriweather-Light.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather/Merriweather-Regular.woff2) format("woff2"), url(../fonts/Merriweather/Merriweather-Regular.woff) format("woff"), url(../fonts/Merriweather/Merriweather-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather/Merriweather-Light.woff2) format("woff2"), url(../fonts/Merriweather/Merriweather-Light.woff) format("woff"), url(../fonts/Merriweather/Merriweather-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather/Merriweather-Bold.woff2) format("woff2"), url(../fonts/Merriweather/Merriweather-Bold.woff) format("woff"), url(../fonts/Merriweather/Merriweather-Bold.ttf) format("truetype");
  font-weight: 700;
  font-size: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather/Merriweather-Black.woff2) format("woff2"), url(../fonts/Merriweather/Merriweather-Black.woff) format("woff"), url(../fonts/Merriweather/Merriweather-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url(../fonts/DM_Sans/static/DMSans-Bold.woff2) format("woff2"), url(../fonts/DM_Sans/static/DMSans-Bold.woff) format("woff"), url(../fonts/DM_Sans/static/DMSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url(../fonts/DM_Sans/static/DMSans-Regular.woff2) format("woff2"), url(../fonts/DM_Sans/static/DMSans-Regular.woff) format("woff"), url(../fonts/DM_Sans/static/DMSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
.heading__primary {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  color: #FFFFFF;
  font-size: 7rem;
  font-weight: 900;
}
.heading__primary--1 {
  font-size: 6rem;
}

.heading__secondary {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 4rem;
  font-weight: 900;
}
.heading__secondary--light {
  color: #FFFFFF;
}
.heading__secondary--dark {
  color: #000000;
}
.heading__secondary--green {
  color: #236C30;
  font-weight: 700 !important;
}
.heading__secondary--dark-green {
  color: #111D19;
  font-weight: 700;
}
.heading__secondary--2 {
  color: #EF8C2F;
  font-size: 5rem;
  font-weight: 700;
}

.heading__tertiary {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 2.8rem;
}
.heading__tertiary--dark {
  font-weight: 700;
  color: #000000;
}
.heading__tertiary--green {
  color: #236C30;
  font-weight: 100;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-lg {
  margin-bottom: 10rem;
}

.about {
  grid-column: center-start/center-end;
  display: flex;
  gap: 6rem;
}
@media only screen and (max-width: 62.5em) {
  .about {
    flex-direction: column;
    align-items: center;
  }
}
.about__img {
  border-radius: 9px;
  width: 100%;
}
@media only screen and (max-width: 62.5em) {
  .about__img {
    order: 1;
  }
}
.about__text {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 62.5em) {
  .about__text {
    width: 70%;
    text-align: center;
  }
}
@media only screen and (max-width: 39.375em) {
  .about__text {
    width: 100%;
  }
}
.about__text p {
  line-height: 1.5;
}
@media only screen and (max-width: 87.5em) {
  .about__text p {
    line-height: unset;
  }
}
@media only screen and (max-width: 75.625em) {
  .about__text p {
    line-height: 1.5;
  }
}
@media only screen and (max-width: 65.625em) {
  .about__text p {
    line-height: unset;
  }
}
@media only screen and (max-width: 62.5em) {
  .about__text p {
    line-height: 1.5;
  }
}
.about__discount {
  border: 1px solid #EFB92F;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 5rem 8rem;
}
@media only screen and (max-width: 87.5em) {
  .about__discount {
    padding: 2rem;
    gap: 2rem;
  }
}
@media only screen and (max-width: 75.625em) {
  .about__discount {
    padding: 4rem;
  }
}
@media only screen and (max-width: 65.625em) {
  .about__discount {
    padding: 2rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .about__discount {
    padding: 5rem 8rem;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 39.375em) {
  .about__discount {
    padding: 2rem;
  }
}
.about__discount span {
  color: #236C30;
  display: inline-block;
  max-width: 35%;
}

.booking {
  grid-column: center-start/center-end;
}
.booking__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 2rem;
  margin-top: -21rem;
}
@media only screen and (max-width: 59.375em) {
  .booking__container {
    column-gap: 1.5rem;
  }
}
@media only screen and (max-width: 50.875em) {
  .booking__container {
    grid-template-columns: 60%;
    justify-content: center;
  }
}
@media only screen and (max-width: 31.25em) {
  .booking__container {
    grid-template-columns: 100%;
  }
}
.booking__heading {
  grid-column: 1/-1;
}
.booking__card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.booking__card figure {
  grid-column: 1/-1;
}
.booking__card figure img {
  border-radius: 9px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.booking__steps {
  margin-top: -15rem;
  padding: 3rem;
  grid-column: 2/-1;
  background-color: #FFFFFF;
  border-radius: 1.5rem;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  will-change: transform;
  cursor: pointer;
  transition: all 0.2s;
}
.booking__steps span {
  font-size: 2.2rem;
  color: #257831;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 1rem;
}
.booking__steps p {
  font-size: 1.8rem;
  color: #000000;
}
.booking__steps:hover {
  transform: scale(1.03);
}

.btn {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
}
.btn--1 {
  background-color: #EF8C2F;
  color: #FFFFFF;
  font-weight: 700;
}
.btn--1:hover {
  background-color: #da7211;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.btn--1:active {
  transform: scale(0.95);
  box-shadow: unset;
}
.btn--form {
  color: #000000;
  background-color: #EFB92F;
  font-weight: 500;
}
.btn--form:hover {
  background-color: #daa211;
}
.btn--form:active {
  transform: scale(0.95);
}
.btn--footer {
  font-size: 2.8rem;
}

.consideration {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1.2rem repeat(8, min-content);
  padding: 10rem 0;
}
@media only screen and (max-width: 47.125em) {
  .consideration {
    grid-template-columns: unset;
    grid-template-rows: 1fr 1.2rem repeat(8, 1fr);
    row-gap: 1rem;
    padding: 10rem 5rem;
  }
  .consideration > *:not(span:nth-of-type(1)) {
    align-self: center;
  }
}
@media only screen and (max-width: 31.25em) {
  .consideration {
    padding: 10rem 0;
  }
}
.consideration span {
  font-size: 2.2rem;
  font-weight: 500;
}
.consideration span:nth-of-type(1) {
  z-index: 1;
  width: 125%;
  background-image: linear-gradient(to right, #F29621 80%, #FFFFFF 20%);
}
.consideration span:nth-of-type(2) {
  margin-top: 5rem;
}
@media only screen and (max-width: 47.125em) {
  .consideration span:nth-of-type(2) {
    margin-top: 0;
  }
}
.consideration figure {
  grid-column: 2/-1;
  grid-row: 1/-1;
}
.consideration figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 47.125em) {
  .consideration figure {
    display: none;
  }
}

.cta {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: 1fr 50rem;
  margin-top: -15rem;
  z-index: 1;
}
@media only screen and (max-width: 59.375em) {
  .cta {
    grid-template-columns: 1fr;
    margin-top: -25rem;
  }
  .cta > * {
    border-radius: 0 !important;
  }
}
.cta__form {
  padding: 7rem 7rem 5rem;
  border-radius: 3rem;
  background-color: #257831;
  display: grid;
  row-gap: 1rem;
  column-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
@media only screen and (max-width: 39.375em) {
  .cta__form {
    padding: 5rem 2rem;
  }
}
.cta__heading {
  grid-column: 1/-1;
}
.cta__input {
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 5px;
  border: none;
  transition: all 0.2s;
}
.cta__input:focus {
  outline: none;
}
.cta__input:focus:invalid {
  border-bottom: 3px solid red;
}
.cta__input::placeholder {
  font-size: 2rem;
  color: #113710;
}
.cta__contact {
  padding: 7rem 5rem 5rem;
  background-color: #EFB92F;
  border-radius: 3rem;
}
.cta__contact span {
  display: inline-block;
  font-size: 2.8rem;
  font-weight: 500;
  margin: 1rem 0;
}
.cta__contact p {
  font-size: 2rem;
  font-weight: 500;
}

.features {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end]) [center-end] 1fr [full-end];
}
.features__box {
  padding: 10rem 0;
  grid-column: center-start/center-end;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 39.375em) {
  .features__box {
    flex-direction: column;
    gap: 4rem;
    text-align: center;
  }
}
.features__text {
  flex-basis: 50%;
  margin-right: auto;
}
.features__location--flex {
  display: flex;
  gap: 1.5rem;
}
.features__icon {
  width: 3.5rem;
  height: 3.5rem;
  fill: #236C30;
}

.footer {
  grid-column: full-start/full-end;
  padding: 10rem 10rem 2rem;
  background-color: #113710;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end]) [center-end] 1fr [full-end];
  justify-content: center;
  row-gap: 10rem;
}
.footer__contact-container {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  align-items: center;
  row-gap: 2rem;
}
.footer__contact-container h1 {
  justify-self: center;
}
@media only screen and (max-width: 47.125em) {
  .footer__contact-container {
    text-align: center;
    row-gap: 4rem;
  }
}
.footer__contact {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}
.footer__contact-text {
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: currentColor;
}
.footer__contact-tel {
  font-size: 3.8rem;
  font-weight: 500;
  color: #EF8C2F;
}
.footer__button {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}
.footer__button-text {
  font-size: 2rem;
  font-weight: 500;
  color: #FFFFFF;
}
.footer__copyright {
  font-family: "DM Sans", "Segoe UI", Tahoma, Geneva, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #CFE1CF;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.footer__follow {
  justify-self: end;
}
.footer__follow-link:link, .footer__follow-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #CFE1CF;
  font-weight: 700;
}
.footer__follow-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__follow-icon {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}

.ham-menu {
  display: none;
}
@media only screen and (max-width: 50.875em) {
  .ham-menu {
    display: block;
    overflow: hidden;
  }
}
.ham-menu__checkbox {
  display: none;
}
.ham-menu__checkbox:checked ~ .ham-menu__button span::before {
  transform: rotate(135deg);
  top: 0;
  background-color: #FFFFFF;
}
.ham-menu__checkbox:checked ~ .ham-menu__button span::after {
  transform: rotate(-135deg);
  top: 0;
  background-color: #FFFFFF;
}
.ham-menu__checkbox:checked ~ .ham-menu__button span {
  background-color: transparent;
}
.ham-menu__checkbox:checked ~ .ham-menu__list {
  transform: rotate(0);
  right: 0;
  top: 3rem;
}
@media only screen and (max-width: 31.25em) {
  .ham-menu__checkbox:checked ~ .ham-menu__list {
    padding: 10rem 0;
    width: 100%;
  }
}
.ham-menu__checkbox:checked ~ .ham-menu__background {
  position: fixed;
}
.ham-menu__button {
  position: absolute;
  display: inline-block;
  top: 7rem;
  right: 1rem;
  width: 7rem;
  height: 6rem;
  cursor: pointer;
  z-index: 1000;
}
@media only screen and (max-width: 31.25em) {
  .ham-menu__button {
    height: 1.2%;
  }
}
.ham-menu__button span {
  position: absolute;
  width: 4rem;
  height: 0.3rem;
  right: 2rem;
  top: 50%;
  display: inline-block;
  background-color: #113710;
}
.ham-menu__button span::before, .ham-menu__button span::after {
  content: "";
  display: inline-block;
  width: 4rem;
  height: 0.3rem;
  background-color: #113710;
  position: absolute;
  transition: all 0.2s;
}
.ham-menu__button span::before {
  top: 1.2rem;
}
.ham-menu__button span::after {
  top: -1.2rem;
}
.ham-menu__background {
  position: unset;
  height: 100vh;
  background-color: transparent;
  width: 100%;
  z-index: 10;
}
.ham-menu__list {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
  list-style: none;
  position: absolute;
  right: -55rem;
  top: -6rem;
  z-index: 100;
  background-image: linear-gradient(#113710 75%, #FFFFFF 25%);
  transform: rotate(135deg);
  transition: all 0.4s;
}
@media only screen and (max-width: 31.25em) {
  .ham-menu__list {
    top: -0.4%;
  }
}
.ham-menu__list a {
  color: #fff !important;
  font-size: 2.5rem !important;
  font-weight: 400 !important;
}

.header {
  grid-column: center-start/center-end;
  display: flex;
  padding: 3rem 0;
  align-items: center;
}
.header__logo {
  margin-right: auto;
}
.header__logo img {
  max-width: 100%;
  height: 4.5rem;
}
.header__list {
  list-style: none;
  display: flex;
}
@media only screen and (max-width: 50.875em) {
  .header__list {
    display: none;
  }
}
.header__item:nth-child(4) {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.header__link:link, .header__link:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
  display: inline-block;
  padding: 1.25rem;
  position: relative;
  transition: all 2s;
}
.header__link::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0.1rem;
  background-color: #EF8C2F;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
}
.header__link:active {
  background-color: #cccccc;
}
.header__link:hover::before {
  width: 90%;
}
.header__link--border {
  display: flex !important;
  align-items: center;
  gap: 1rem;
}
.header__icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #EF8C2F;
}
@media only screen and (max-width: 50.875em) {
  .header__btn {
    display: none;
  }
}

.hero {
  grid-column: full-start/full-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/hero-0.5x.png");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0% 0%, 0% 100%, 40% 92%, 60% 92%, 100% 100%, 100% 0%);
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 31.25em) {
  .hero {
    grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
  }
}
@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 75em) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/hero.png");
  }
}
.hero__text-box {
  grid-column: center-start/5;
  margin-top: 10rem;
}
@media only screen and (max-width: 39.375em) {
  .hero__text-box {
    grid-column: center-start/-1;
  }
}
@media only screen and (max-width: 31.25em) {
  .hero__text-box h1 {
    font-size: 5.5rem;
  }
}
.hero__text {
  color: #FFFFFF;
  font-size: 2.1rem;
  font-weight: 500;
}

.impact {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  justify-items: center;
  padding: 10rem;
}
@media only screen and (max-width: 31.25em) {
  .impact {
    grid-column: full-start/full-end;
    grid-template-columns: unset;
    row-gap: 4rem;
  }
}
.impact h2 {
  grid-row: 1/2;
  grid-column: 1/-1;
}
.impact__before {
  justify-self: end;
}
.impact__after {
  grid-column: 2/-1;
  justify-self: start;
}
.impact__before-img, .impact__after-img {
  border-radius: 9px;
  width: 100%;
  object-fit: cover;
}

.property {
  padding: 5rem 10rem;
  padding-right: 0;
  border-radius: 9px;
  background: linear-gradient(120deg, #D5E8D4, #FBE4D5, #FFE0E0);
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite;
  display: grid;
  row-gap: 2rem;
  grid-template-columns: max-content 1fr;
  align-items: center;
}
@media only screen and (max-width: 47.125em) {
  .property {
    text-align: center;
    grid-template-columns: unset;
    padding: 5rem 0;
  }
}
.property span {
  justify-self: start;
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #FFFFFF;
  border-radius: 10rem;
  padding: 1.25rem 3.5rem;
}
@media only screen and (max-width: 47.125em) {
  .property span {
    justify-self: center;
  }
}
.property img {
  grid-row: 1/12;
  grid-column: 2/-1;
  align-self: end;
  width: 100%;
  margin-bottom: 5rem;
  object-fit: cover;
}
@media only screen and (max-width: 47.125em) {
  .property img {
    display: none;
  }
}

.services {
  grid-column: full-start/full-end;
  background-image: linear-gradient(rgba(17, 29, 25, 0.85), rgba(17, 29, 25, 0.85)), url(../img/bg-img-1-0.5x.png);
  background-size: cover;
  background-position: center;
  height: 75rem;
  color: #FFFFFF;
}
@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .services {
    background-image: linear-gradient(rgba(17, 29, 25, 0.85), rgba(17, 29, 25, 0.85)), url(../img/bg-img-1.png);
  }
}
.services__heading {
  font-weight: 700 !important;
}
.services__review {
  width: 50%;
  margin: 10rem auto;
  text-align: center;
}
.services__review p {
  font-size: 2.4rem;
}
.services__review figcaption {
  font-size: 2rem;
}
@media only screen and (max-width: 47.125em) {
  .services__review {
    width: 80%;
  }
}
@media only screen and (max-width: 31.25em) {
  .services__review {
    width: 100%;
  }
}
.services__icon {
  width: 2.2rem;
  height: 2.2rem;
  fill: #F29621;
}

.serving-location {
  grid-column: full-start/full-end;
  background-color: #113710;
  color: #FFFFFF;
  font-weight: 500;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 39.375em) {
  .serving-location {
    grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
  }
}
.serving-location span {
  color: #ABCE9A;
}
.serving-location__text {
  grid-column: center-start/center-end;
  display: flex;
  padding: 1rem 0;
}
@media only screen and (max-width: 31.25em) {
  .serving-location__text {
    grid-column: full-start/full-end;
    flex-direction: column;
    gap: 1rem;
  }
}
.serving-location__text p:not(:last-child) {
  margin-right: auto;
}

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: repeat(2, min-content) 70vh repeat(6, min-content);
}
@media only screen and (max-width: 54.375em) {
  .container {
    grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
  }
}

/*# sourceMappingURL=style.comp.css.map */
