//colors

$color-green-1: #113710;
$color-green-2: #ABCE9A;
$color-green-3: #257831;
$color-green-4: #236C30;
$color-white: #FFFFFF;
$color-orange-1: #EF8C2F;
$color-orange-2: #EFB92F;
$color-orange-3: #F29621;
$color-black: #000000;
$color-bg: #111D19;
$color-copyright: #CFE1CF;


//fonts

$font-body: 'Source Sans Pro', Arial, Helvetica, sans-serif;
$font-heading: 'Merriweather', Georgia, 'Times New Roman', serif;


//source sans pro body
//Merriweather headings
//copyright DM sans