@use '../abstracts/variables' as *;
.features {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end] ) [center-end] 1fr [full-end];
    

    &__box {
        padding: 10rem 0;
        grid-column: center-start / center-end;

        display: flex;
        align-items: center;
    }

    &__text {
        flex-basis: 50%;
        margin-right: auto;
    }

    &__location {
        &--flex {
            display: flex;
            gap: 1.5rem;
        }
    }

    &__icon {
        width: 3.5rem;
        height: 3.5rem;
        fill: $color-green-4;
    }
}