@use '../abstracts/variables' as *;

.serving-location {
    grid-column: full-start / full-end;
    background-color: $color-green-1;
    color: $color-white;
    font-weight: 500;

    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $bp--smaller) {
        grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
    }



    span {
        color: $color-green-2;
    }



    &__text {
        grid-column: center-start / center-end;

        display: flex;
        padding: 1rem 0;

        @media only screen and (max-width: $bp--smallest) {
            grid-column: full-start / full-end;
            flex-direction: column;
            gap: 1rem;
        }

        p:not(:last-child) {
            margin-right: auto;
        }
    }
}